.grid-container {
    display: grid; 
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

@font-face{
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium';
}

div-card {
    float: right;
}

.btn {
    background-color: pink;
    color: purple;
}

.card {
    background-color: plum;
}

.container-fluid {
    background-color: palevioletred;
    border: 1px solid;
}
