{% extends 'static.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block start %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/text.css' %}">
    <title>3학기 시간표</title>
    {% endblock %}
</head>
<body>
    {% block contents %}
    <h2>시간표-202111048 이은지</h2>
    <table>
        <tr></tr>
        <tr class="day">
            <th></th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
        <tr1>
            <td rowspan="2">9시</td>
            <td rowspan="6", bgcolor="pink">데이터베이스<br>홍은지<br>09:00~11:50<br>6202</td>
            <td></td>
            <td rowspan="6", bgcolor="lightgreen">실용영어<br>오세풍<br>09:00~11:50<br>7202</td>
            <td></td>
            <td></td>
        </tr1>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">10시</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">11시</td>
            <td></td>
            <td rowspan="2", bgcolor="violet">비아메디아 채플<br>장수철<br>11:00~11:50<br>3501</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">12시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">1시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3", bgcolor="yellow">한걸음 더 중국어<br>장엽<br>13:30~14:45<br>7208</td>
            <td rowspan="3", bgcolor="skyblue">대안경제와 생태사회<br>신익상<br>13:30~14:45<br>M407</M407></td>
            <td rowspan="3", bgcolor="yellow">한걸음 더 중국어<br>장엽<br>13:30~14:45<br>7208</td>
            <td rowspan="3", bgcolor="skyblue">대안경제와 생태사회<br>신익상<br>13:30~14:45<br>M407</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">2시</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">3시</td>
            <td></td>
            <td rowspan="3", bgcolor="orange">심리학개론<br>채기화<br>15:00~16:15<br>3402</td>
            <td></td>
            <td rowspan="3", bgcolor="orange">심리학개론<br>채기화<br>15:00~16:15<br>3402</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">4시</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">5시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">6시</td>
            <td rowspan="2", bgcolor="#6ba6ff">전공탐색세미나<br>(컴퓨터공학전공)<br>김학수<br>18:00~18:50<br>6201</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    {% endblock %}

</body>
</html>